* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

/* Set background image for the body */
body {
  height: 100vh;
  margin: 0;
  padding: 0;
}

*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background-color: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: black;
}

/*submit Button*/
.btn {
  width: 100%;
  border-radius: 40px;
  padding: 10px 30px;
  color: white;
  display: block;
  text-align: center;
  cursor: pointer;
  font-size: 20px;
  margin-top: 30px;
}

.btn {
  background-color: black;
}

.btn:hover {
  background-color: plum;
}
/*--end of button--*/

/*Message Table*/
.message {
  margin: 15px 0;
  width: 100%;
  border-radius: 35px;
  padding: 13px;
  text-align: center;
  background-color: plum;
  color: black;
  font-size: 18px;
}

/*Form container setting*/
.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 70px;
  width: 100%;
  margin: auto;
}

/*Box form*/
.form-container form {
  padding: 10px;
  background-color: #eee;
  box-shadow: black;
  text-align: center;
  width: 900%;
  border-radius: 20px;
}

/*Add User Font*/
.form-container form h3 {
  margin-bottom: 15px;
  font-size: 25px;
  color: black;
  text-transform: uppercase;
}

/*Container Form*/
.form-container form .box {
  width: 100%;
  border-radius: 40px;
  padding: 12px 14px;
  font-size: 16px;
  color: black;
  margin: 10px 0;
  background-color: white;
}

.form-container form p {
  margin-top: 15px;
  font-size: 15px;
  color: black;
}

.form-container form p a {
  color: plum;
}

.form-container form p a:hover {
  text-decoration: underline;
}
