.container {
  margin-bottom: 20px;
  max-width: 1500px;
  margin: auto;
  background: #fff;
  padding: 25px;
  border-radius: 20px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  overflow-x: 30px;
  margin-top: 50px;
  margin-bottom: 30px;
}

.house-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  border-radius: 20px;
  table-layout: auto;
}

.house-table th,
.house-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
  justify-items: auto;
}

.house-table th {
  background-color: #f2f2f2;
}

.house-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.house-table tr:hover {
  background-color: #ddd;
}

.actions-buttons {
  display: flex;
  gap: 5px;
}

.actions-buttons button {
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.actions-buttons button[name="approve"] {
  background-color: #28a745;
  color: #fff;
}

.actions-buttons button[name="reject"] {
  background-color: #dc3545;
  color: #fff;
}

/* Style for delete button */
.btn-delete {
  display: inline-block;
  padding: 8px 16px;
  text-decoration: none;
  background-color: #dc3545;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-bottom: 20px;
}

.btn-delete:hover {
  background-color: #ff5252;
}

/* Style for the confirmation pop-up */
.confirm-popup {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  width: 300px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}

.confirm-popup h3 {
  margin-bottom: 10px;
  font-size: 18px;
  color: #333;
}

.confirm-popup p {
  margin-bottom: 15px;
  font-size: 14px;
  color: #666;
}

.confirm-popup .btn-confirm {
  background-color: #dc3545;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 8px 16px;
  cursor: pointer;
}

.confirm-popup .btn-confirm:hover {
  background-color: #ff5252;
}
